doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title This Could Be Mobile...
    link(rel="stylesheet", type="text/css", href="/bootstrap.min.css")
    script(type="text/javascript") var url = '#{url}'; var id = '#{id}';
    script(type="text/javascript", src="/redirect-to-mobile.js")
  body
    br
    br
    .container
      .row
        .col-sm-6
          h4 Original
          iframe(src="#{url}", height="600", width="360")
        .col-sm-6
          a.btn.btn-success.pull-right(href="/cssviewer/#{id}", style="margin-right: 80px;") See Code Changes
          h4 Mobilized
          iframe(src="/page?id=#{id}&url=#{url}", height="600", width="360")
